/* .container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  } */
/* edits the container in blog pages */
 .container {
    min-height: 75vh;
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 3rem 3rem;
  }

  