@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

git commit html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  /* max-height: 550px; */
  display: block;
  border-radius: 9px 9px 9px 9px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
/* adjusts the larger box across the top */
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
/* this edits the hamburger button spacing */
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
}
/* this edits the hamburger button */
.nav__menu-bar div{
  width: 30px;
  height: 2px;
  background-color: rgb(24, 24, 24);
  /* box-shadow: 0px 4px 20px #5c5c5c; */
  border-radius: 6px;
}

/* this edits the mobile nav popup */
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 250px;
  row-gap: 24px;
  right: -250px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #ffffff;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: column;
}

.container {
  font-size: 1.3rem;
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  /* box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%); */
}

.container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 7px;
  background-color: #f0f0f0;
  font-size: 20px;
}

.container h1 {
  text-align: center;
  font-weight: 600;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding: 10px;
  margin: 25px;
  font-size: 20px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 2);
  /* height: 120px; */
  text-align: center;
}

@media screen and (min-width: 768px) {
  
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}